@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Evelyn's Event Company is number one in Florida.</p>
<p>Use this area to provide additional information.</p>
